img {
    height: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    text-decoration: none;
    list-style-type: none;
    color: black;
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main h1 {
    font-size: 30px;
}