header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

img {
    height: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    width: 400px;
    display: flex;
}

ul {
    padding: 0;
    margin: auto;
    width: 300px;
    /* text-decoration: none; */
    list-style-type: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main h1 {
    font-size: 30px;
}

#main {
    margin-top: 150px;
}